In [6]:
import psycopg2
import os
import glob
import json
import pandas as pd
import re
#from sql_queries import *
from datetime import datetime

In [7]:
def create_database():
    """
    - Creates and connects to the sparkifydb
    - Returns the connection and cursor to sparkifydb
    """

In [8]:
# connect to default database
conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
conn.set_session(autocommit=True)
cur = conn.cursor()

OperationalError: connection to server at "127.0.0.1", port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

In [9]:
# create sparkify database with UTF8 encoding
try:
    cur.execute("DROP DATABASE IF EXISTS sparkifydb")
except psycopg2.Error as e: 
    print("Error: Could not drop sparkifydb")
    print(e)
try:
    cur.execute("CREATE DATABASE sparkifydb WITH ENCODING 'utf8' TEMPLATE template0")
except psycopg2.Error as e: 
    print("Error: Could not create sparkifydb")
    print(e)

NameError: name 'cur' is not defined

In [10]:
# close connection to default database
conn.close()

NameError: name 'conn' is not defined

In [11]:
# connect to sparkify database
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

OperationalError: connection to server at "127.0.0.1", port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

In [12]:
#test connection
try:
    cur.execute("create table if not exists test(test1 varchar, test2 varchar)")
except psycopg2.Error as e: 
    print("Error: Could not create table")
    print(e)

NameError: name 'cur' is not defined

In [13]:
#test connection
try: 
    cur.execute("INSERT INTO test (test1, test2) \
                 VALUES (%s, %s)", \
                 ("This","That"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

NameError: name 'cur' is not defined

In [14]:
try: 
    cur.execute("SELECT * FROM test;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

NameError: name 'cur' is not defined

In [15]:
try:
    cur.execute("drop table if exists test")
except psycopg2.Error as e: 
    print("Error: Unable to drop test")
    print (e)

NameError: name 'cur' is not defined

In [16]:
#create dimension table users
#'userid', 'firstname', 'lastname', 'gender', 'level'
try:
    cur.execute("drop table if exists users")
except psycopg2.Error as e: 
    print("Error: Unable to drop users")
    print (e)
try:
    cur.execute("create table if not exists users(userid varchar, firstname varchar, lastname varchar \
                , gender varchar, level varchar)")
except psycopg2.Error as e: 
    print("Error: Could not create table")
    print(e)

NameError: name 'cur' is not defined

In [17]:
#create dimension table songs
#song_id, title, artist_id, year, duration
try:
    cur.execute("drop table if exists songs")
except psycopg2.Error as e: 
    print("Error: Unable to drop songs")
    print (e)
try:
    cur.execute("create table if not exists songs(song_id varchar, title varchar, artist_id varchar \
                , year int, duration float)")
except psycopg2.Error as e: 
    print("Error: Could not create table")
    print(e)

NameError: name 'cur' is not defined

In [18]:
#create dimension table artists
#artist_id, artist_name, artist_location, artist_latitude, artist_longitude
try:
    cur.execute("drop table if exists artists")
except psycopg2.Error as e: 
    print("Error: Unable to drop artists")
    print (e)
try:
    cur.execute("create table if not exists artists(artist_id varchar, artist_name varchar \
    , artist_location varchar, artist_latitude numeric, artist_longitude numeric)")
except psycopg2.Error as e: 
    print("Error: Could not create table")
    print(e)

NameError: name 'cur' is not defined

In [19]:
#create dimension table time
#start_time, hour, day, week, month, year, weekday
try:
    cur.execute("drop table if exists time")
except psycopg2.Error as e: 
    print("Error: Unable to drop time")
    print (e)
try:
    cur.execute("create table if not exists time(start_time time, hour int, day int \
                , week int, month varchar, year int, weekday varchar)")
except psycopg2.Error as e: 
    print("Error: Could not create table")
    print(e)

NameError: name 'cur' is not defined

In [20]:
#extract song data step 1
try:
    def get_files(filepath):
        all_files = []
        for root, dirs, files in os.walk(filepath):
            files = glob.glob(os.path.join(root,'*.json'))
            for f in files :
                all_files.append(os.path.abspath(f))
    
        return all_files

except psycopg2.Error as e: 
    print("Error: Unable to extract files")
    print (e)

In [21]:
# extract song data step 2
#get_files('data/song_data')

song_files =get_files('data/song_data')
#prints first two elements as a visula check on results
print(song_files[:2])

#get first path
filepath =song_files[0]
df =pd.read_json(filepath, lines=True)
df.head()
#The length of song_files will be used to dermint the number of iterations in subsequent for loops
sfcnt=len(song_files)

[]

IndexError: list index out of range

In [22]:
#insert into songs table
filepath =song_files[0]
df =pd.read_json(filepath, lines=True)
df.head()
try:
    for i in range(len(song_files)):
        filepath =song_files[i]
        df =pd.read_json(filepath, lines=True)
        #print(df)
        #Select specific columns
        cols =['song_id', 'title', 'artist_id', 'year', 'duration']
        song_data=df[cols].values[0].tolist()
        #print(song_data)
        cur.execute("INSERT INTO  songs(song_id, title, artist_id, year, duration) VALUES (%s,%s,%s,%s,%s)"\
            , song_data)
        
except psycopg2.Error as e: 
    print("Error: Unable to load files")
    print (e)

IndexError: list index out of range

In [23]:
#validate table load
print("Songs validation")
print("First 5 rows")
try: 
    cur.execute("SELECT * FROM songs limit 5;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()


print("Number of records extracted: ", sfcnt)

print("Number of records loaded" )

try: 
    cur.execute("SELECT count(*) FROM songs;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
print("Unique values song_id")

try: 
    cur.execute("SELECT COUNT(DISTINCT song_id) FROM songs;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
print("Unique values artist_id")

try: 
    cur.execute("SELECT COUNT(DISTINCT artist_id) FROM songs;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("Unique values accross song_id and artist_id")

try: 
    cur.execute("SELECT COUNT(DISTINCT concat(song_id, artist_id)) FROM songs;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Songs validation
First 5 rows

NameError: name 'cur' is not defined

In [24]:
# insert artists record
filepath =song_files[0]
df =pd.read_json(filepath, lines=True)
df.head()
artistlst=[]
try:
    for i in range(len(song_files)):
        filepath =song_files[i]
        df =pd.read_json(filepath, lines=True)
        #print(df)
        #Select specific columns
        cols =['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']
        song_data=df[cols].values[0].tolist()
        #print(song_data)
        #prevent the loading of duplicate records
        if song_data[0] not in artistlst:
            artistlst.append(song_data[0])
            #print(artistlst)
            cur.execute("INSERT INTO  artists(artist_id, artist_name, artist_location \
                       , artist_latitude, artist_longitude) VALUES (%s,%s,%s,%s,%s)"\
                        , song_data)
        
except psycopg2.Error as e: 
    print("Error: Unable to load files")
    print (e)

IndexError: list index out of range

In [25]:
#validate table load
print("artists validation")
print("First 5 rows")
try: 
    cur.execute("SELECT * FROM artists limit 5;")
except psycopg2.Error as e: 
    print("Error: SELECT * FROM artists limit 5 failed")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()


print("Number of records extracted: ", sfcnt)

print("Number of records loaded" )

try: 
    cur.execute("SELECT count(*) FROM artists;")
except psycopg2.Error as e: 
    print("Error: select count(*) form artists failed")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
    
print("Unique values artist_id")

try: 
    cur.execute("SELECT COUNT(DISTINCT artist_id) FROM artists;")
except psycopg2.Error as e: 
    print("Error: SELECT COUNT(DISTINCT artist_id) FROM artists failed")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

artists validation
First 5 rows

NameError: name 'cur' is not defined

In [26]:
#extract log data
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

log_files=get_files('data/log_data')

filepath =log_files[0]

df =pd.read_json(filepath, lines=True)
df.head()
#The length of log_files will be used to dermint the number of iterations in subsequent for loops
lfcnt=len(log_files)

IndexError: list index out of range

In [27]:
#insert into time table
#start_time , hour , day, week, month , year , weekday 
from datetime import datetime
filepath =log_files[0]
df =pd.read_json(filepath, lines=True)
df.head()
try:
     for i in range(len(log_files)):
            filepath =log_files[i]
            df =pd.read_json(filepath, lines=True)
            #print(df)
   #Select specific columns
            cols =['ts']
            time_dl=df[cols].values[0].tolist()
        #print(time_dl)
            time_int=time_dl[0]/1000
            time_data = datetime.fromtimestamp(time_int)
            #time_data = datetime.fromtimestamp(1140825600)
            #print(time_data)
            start_time=time_data.strftime("%H:%M:%S")
            day=time_data.day
            week=time_data.isocalendar()[1]
            month=time_data.month
            year=time_data.year
            #print(year)
            weekday=time_data.today().strftime("%A")
            hour=time_data.hour
            song_data=df[cols].values[0].tolist()
            #print(log_data)
            cur.execute("INSERT INTO  time(start_time , hour , day, week, month , year , weekday) VALUES (%s,%s,%s,%s,%s,%s,%s)"\
                       , (start_time, hour, day, week, month, year, weekday))
          
except psycopg2.Error as e: 
    print("Error: Insert in to time table failed")
    print (e)

IndexError: list index out of range

In [28]:
#validate table load
#accepted that there may be duplicate values for some fields 
#without further analysis and requirements development
print("time validation")
print("First 5 rows")
try: 
    cur.execute("SELECT * FROM time limit 5;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()


print("Number of records extracted: ", lfcnt)

print("Number of records loaded" )

try: 
    cur.execute("SELECT count(*) FROM time;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
    
print("Unique values start_time")

try: 
    cur.execute("SELECT COUNT(DISTINCT start_time) FROM time;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

time validation
First 5 rows

NameError: name 'cur' is not defined

In [29]:
#users - user_id, first_name, last_name, gender, level

log_files =get_files('data/log_data')
#prints first two elements
print(log_files[:2])
#get first path
filepath =log_files[0]
df =pd.read_json(filepath, lines=True)
df.head()
lgcnt=len(log_files)

[]

IndexError: list index out of range

In [30]:
#insert into users table
#users - user_id, first_name, last_name, gender, level
userlst=[]
try:
    for i in range(len(log_files)):
        filepath =log_files[i]
        df =pd.read_json(filepath, lines=True)
        #print(df)
        #Select specific columns
        cols =['userId', 'firstName', 'lastName', 'gender', 'level']
        log_data=df[cols].values[0].tolist()
        #print(log_data)
        #prevent duplicate user entries in user table
        #print(userlst)
        if 'userId' not in userlst:
            userlst.append(log_data[0])
            cur.execute("INSERT INTO  users(userId, firstName, lastName  \
             , gender, level) VALUES (%s,%s,%s,%s,%s)"\
            , log_data)
 
except psycopg2.Error as e: 
    print("Error: Unable to load files")
    print (e)
filepath =song_files[0]
df =pd.read_json(filepath, lines=True)
df.head()

IndexError: list index out of range

In [31]:
#validate table load
print("Users validation")
print("First 5 rows")
try: 
    cur.execute("SELECT * FROM users limit 5;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()


print("Number of records extracted: ", lfcnt)

print("Number of records loaded" )

try: 
    cur.execute("SELECT count(*) FROM users;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
print("Unique values userid")

try: 
    cur.execute("SELECT COUNT(DISTINCT userid) FROM users;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Users validation
First 5 rows

NameError: name 'cur' is not defined

In [32]:
#songplays
#songplay_id, start_time lg-ts time, user_id lg users, level lg, song_id sg songs, artist_id sg songs 
#session_id lg, location lg, user_agent lg

#Since the log file does not specify an ID for either the song or the artist, 
#you'll need to get the song ID and artist ID by querying the songs and artists 
#tables to find matches based on song title, artist name, and song duration time.

#song            log
#song_ID         song title
#artist_id       artist name
#title
#duration
#name

# list of artist name and song title from log
# can it be matched to artist id, song id, and title?
# create an index number to join on.

In [33]:
log_files =get_files('data/log_data')
#prints first two elements
print(log_files[:2])
#get first path
filepath =log_files[0]
df =pd.read_json(filepath, lines=True)
df.head()
sfcnt=len(log_files)

[]

IndexError: list index out of range

In [34]:
#create staging tables for purpose of analyzing join key data
try:
    cur.execute("drop table if exists songplay_id_log")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplay_id_log")
    print (e)
try:
    cur.execute("create table if not exists songplay_id_log(artist varchar, song varchar)")
except psycopg2.Error as e: 
    print("Error: Could not create table song_play_id_log")
    print(e)
    
try:
    cur.execute("drop table if exists songplay_id_song")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplay_id_song")
    print (e)
try:
    cur.execute("create table if not exists songplay_id_song(artist_name varchar, title varchar)")
except psycopg2.Error as e: 
    print("Error: Could not create table songplay_id_song")
    print(e)

NameError: name 'cur' is not defined

In [35]:
#insert into staging table for purpose of analyzing join key data
filepath =log_files[0]
df =pd.read_json(filepath, lines=True)
df.head()
try:
    for i in range(len(log_files)):
        filepath =log_files[i]
        df =pd.read_json(filepath, lines=True)
        #print(df)
        #Select specific columns
        cols =['artist', 'song']
        log_data=df[cols].values[0].tolist()
        #print(song_data)
        cur.execute("INSERT INTO  songplay_id_log(artist, song ) VALUES (%s,%s)", log_data)
except psycopg2.Error as e: 
    print("Error: Insert into song_play_id_log failed")
    print(e)
        
filepath =song_files[0]
df =pd.read_json(filepath, lines=True)
df.head()
try:
    for i in range(len(song_files)):
        filepath =song_files[i]
        df =pd.read_json(filepath, lines=True)
        #print(df)
        #Select specific columns
        cols =['artist_name', 'title']
        song_data=df[cols].values[0].tolist()
        #print(song_data)
        cur.execute("INSERT INTO  songplay_id_song(artist_name, title ) VALUES (%s,%s)", song_data)
except psycopg2.Error as e: 
    print("Error: Insert into song_play_id_song failed")
    print(e)

IndexError: list index out of range

In [36]:
# analyze data sets for data in common. Only hit is Mitch Ryder with Jenny Take A Ride

cur.execute ("select * from songplay_id_log order by artist;")
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("************************************")


cur.execute ("select * from songplay_id_song order by artist_name;")
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

NameError: name 'cur' is not defined

In [37]:
#create staging tables for the purpose of creating the join key
try:
    cur.execute("drop table if exists songplay_id_lg")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplay_id_lg")
    print (e)
try:
    cur.execute("create table if not exists songplay_id_lg(songplay_id varchar \
    , artist varchar, song varchar)")
except psycopg2.Error as e: 
    print("Error: Could not create table")
    print(e)
    
try:
    cur.execute("drop table if exists songplay_id_sg")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplay_id_song")
    print (e)
try:
    cur.execute("create table if not exists songplay_id_sg(songplay_ids varchar \
    , artist_id varchar, artist_name varchar, song_id varchar, title varchar, duration int)")
except psycopg2.Error as e: 
    print("Error: Could not create table")
    print(e)

NameError: name 'cur' is not defined

In [38]:
#creating join key for log data
#select artist and song fields
#skip over empty data fields
#remove special characters
#upper case strings
#shorten the strings to the first 5 characters

filepath =log_files[0]
df =pd.read_json(filepath, lines=True)
df.head()

try:
     for i in range(len(log_files)):
            filepath =log_files[i]
            df =pd.read_json(filepath, lines=True)
            #print(df)
            #Select specific columns
            cols =['artist', 'song']
            log_data=df[cols].values[0].tolist()
            if log_data[0] != None:
                 #print(log_data)
                 #remove special characters from list
                    artist_pl=re.sub('[^A-Za-z0-9]+', '', log_data[0])
                    artist_pl=artist_pl.upper()
                    artist_pl=artist_pl[:5]
                    song_pl=re.sub('[^A-Za-z0-9]+', '', log_data[1])
                    song_pl=song_pl.upper()
                    song_pl=song_pl[:5]
                    #print(artist)
                    #print(song)
                    #print(log_data)
                    #print("dtype= ", dtype)
                    songplay_id=song_pl+artist_pl
                    #print(songplay_id)
                    artist=log_data[0]
                    song=log_data[1]
                    cur.execute("INSERT INTO  songplay_id_lg(songplay_id, artist, song ) \
                                VALUES (%s,%s,%s)", (songplay_id, artist, song))
except psycopg2.Error as e: 
    print("Error: insert into tab le songplay_id_lg failed")
    print(e)

IndexError: list index out of range

In [39]:
#validate data
cur.execute ("select * from songplay_id_lg limit 10;")

#cur.execute ("select * from songplay_id_song order by artist_name;")

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

NameError: name 'cur' is not defined

In [40]:
#creating join key for song data
#select artist and song fields
#skip over empty data fields
#remove special characters
#upper case strings
#shorten the strings to the first 5 characters

filepath =song_files[0]
df =pd.read_json(filepath, lines=True)
df.head()


for i in range(len(song_files)):
        filepath =song_files[i]
        df =pd.read_json(filepath, lines=True)
        #print(df)
        #Select specific columns
        cols =['artist_id', 'artist_name', 'song_id', 'title', 'duration']
        song_data=df[cols].values[0].tolist()
        if song_data[0] != None:
        #print(song_data)
        #remove special characters from list
            name_pl=re.sub('[^A-Za-z0-9]+', '', song_data[1])
            #print(song_data[1])
            #print(name_pl)
            name_pl=name_pl.upper()
            #print(name_pl)
            name_pl=name_pl[:5]
            title_pl=re.sub('[^A-Za-z0-9]+', '', song_data[3])
            title_pl=title_pl.upper()
            title_pl=title_pl[:5]
            #print(name_pl, title_pl)
            songplay_ids=title_pl+name_pl
            #print(songplay_id)
            artist_id=song_data[0]
            artist_name=song_data[1]
            #print(artist_name)
            song_id=song_data[2]
            title=song_data[3]
            duration=song_data[4]
            #print(songplay_ids)
            cur.execute("INSERT INTO  songplay_id_sg(songplay_ids, artist_id, artist_name, song_id, title, duration ) \
                         VALUES (%s,%s,%s,%s,%s,%s)", (songplay_ids, artist_id, artist_name, song_id, title, duration))

IndexError: list index out of range

In [41]:
#validate song data join key
cur.execute ("select * from songplay_id_sg limit 10;")

#cur.execute ("select * from songplay_id_song order by artist_name;")

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

NameError: name 'cur' is not defined

In [42]:
#create fact table songplays
try:
    cur.execute("drop table if exists songplays")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplays")
    print (e)

cur.execute("create table songplays as select songplay_id_lg.songplay_id, songplay_id_lg.artist \
            , songplay_id_lg.song, songplay_id_sg.artist_id, songplay_id_sg.song_id \
            , songplay_id_sg.duration  from songplay_id_lg \
            join songplay_id_sg on songplay_id_sg.songplay_ids = songplay_id_lg.songplay_id;")

NameError: name 'cur' is not defined

In [43]:
#validate songplay table. returns 1 row as expected
cur.execute("select * from songplays")

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

NameError: name 'cur' is not defined

In [44]:
#drop tables

try:
    cur.execute("drop table if exists test")
except psycopg2.Error as e: 
    print("Error: Unable to drop test")
    print (e)
    
try:
    cur.execute("drop table if exists users")
except psycopg2.Error as e: 
    print("Error: Unable to drop users")
    print (e)

try:
    cur.execute("drop table if exists songs")
except psycopg2.Error as e: 
    print("Error: Unable to drop songs")
    print (e)

try:
    cur.execute("drop table if exists artists")
except psycopg2.Error as e: 
    print("Error: Unable to drop artists")
    print (e)

try:
    cur.execute("drop table if exists time")
except psycopg2.Error as e: 
    print("Error: Unable to drop time")
    print (e)

try:
    cur.execute("drop table if exists songplay_id_log")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplay_id_log")
    print (e)

NameError: name 'cur' is not defined

In [45]:
try:
    cur.execute("drop table if exists songplay_id_song")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplay_id_song")
    print (e)
    
try:
    cur.execute("drop table if exists songplay_id_lg")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplay_id_lg")
    print (e)

NameError: name 'cur' is not defined

In [46]:
try:
    cur.execute("drop table if exists songplay_id_sg")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplay_id_sg")
    print (e)

try:
    cur.execute("drop table if exists songplays")
except psycopg2.Error as e: 
    print("Error: Unable to drop songplays")
    print (e)

NameError: name 'cur' is not defined

In [47]:
#close connection
conn.close()

NameError: name 'conn' is not defined